.flex-container{
    display: flex !important;
}
.btn{
    background-color: red !important;
    color: white !important;
}
h1{
    font-size: 20px !important;
}

img{
    height: 200px !important;
    width: 200px !important;
}

select{
    box-shadow: none !important;
    border-color: black !important;
}

